.main-container {
  display: flex; /* Use flexbox to center the content if needed */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Prevent overflow */
}

.title {
  position: relative; /*Position relative for absolute positioning of the image*/
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.title img {
  position: absolute; /* Position the image absolutely */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover; /* Cover the entire area while maintaining aspect ratio */
  transform: translate(-50%, -50%); /* Center the image */
}