.pagination-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pagination-button:disabled {
    background-color: #a5d6a7; /* Lighter green */
    cursor: not-allowed;
}
