.sidebar {
    width: 250px; 
    background-color: #1f64aa; 
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1); 
    height: 100vh; 
    position: fixed; 
    display: flex;
    flex-direction: column; 
}

.sidebar nav {
    display: flex;
    flex-direction: column; 
}

.sidebar a {
    text-decoration: none; 
    color: #ffffff;
    padding: 15px; 
    border-radius: 4px; 
    display: flex; 
    align-items: center; 
    transition: background-color 0.3s; 
    margin-bottom: 10px; 
    width: 100%; 
}

.sidebar a:last-child {
    margin-bottom: 0; /* Remove margin from the last link */
}

.sidebar a i {
    margin-right: 10px; /* Space between icon and text */
}

.sidebar a:hover {
    background-color: #0080ff; /* Background color on hover */
}

.sidebar .active {
    background-color: #003d7e; /* Active link background color */
    color: #fff; /* Active link text color */
    font-weight: bolder;
}